# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/
.venv/

# Docker
.dockerignore

# IDE / Editor files
.vscode/
.idea/

# Environment variables
.env
*.env

# Build artifacts
dist/
build/
*.egg-info/